options {
    directory "/var/cache/bind";
    allow-query { any; };
    allow-recursion { any; };
    forwarders {
        {% for forwarder in dns_forwarders.split(',') %}
        {{ forwarder.strip() }};
        {% endfor %}
    };
};

zone "example.com" IN {
    type master;
    file "/etc/bind/db.example.com";
};
